.social {
	.social__container {
		.social__link {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			color: var(--text-color);
			font-size: var(--small-font-size);

			i {
				margin-right: 0.5rem;
				font-size: var(--h3-font-size);
			}

			&:hover {
				color: var(--title-color);
			}
		}
	}
}
